force-app/main/default/flows/Create_New_Season_For_Tv_Serie.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Is_Exist_Season_With_This_Number</name>
        <label>Is Exist Season With This Number</label>
        <locationX>362</locationX>
        <locationY>389</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Season_With_Tv_Serie_And_Number.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Back_To_Begining</targetReference>
            </connector>
            <label>Is Exist</label>
        </rules>
        <rules>
            <name>Is_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Season_With_Tv_Serie_And_Number.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Season</targetReference>
            </connector>
            <label>Is Not Exist</label>
        </rules>
    </decisions>
    <interviewLabel>Create New Season For Tv Serie {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create New Season For Tv Serie</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Season</name>
        <label>Create Season</label>
        <locationX>181</locationX>
        <locationY>373</locationY>
        <connector>
            <targetReference>Season_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Fault_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Season_Number__c</field>
            <value>
                <elementReference>Season_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tv_Serie__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Season__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Season_With_Tv_Serie_And_Number</name>
        <label>Get Season With Tv Serie And Number</label>
        <locationX>544</locationX>
        <locationY>365</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Exist_Season_With_This_Number</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tv_Serie__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Season_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Season_Number</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Season__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tv_Serie_Record_By_Id</name>
        <label>Get Tv Serie Record By Id</label>
        <locationX>714</locationX>
        <locationY>152</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Season_For_Tv_Serie</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tv_Serie__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Back_To_Begining</name>
        <label>Back To Begining</label>
        <locationX>370</locationX>
        <locationY>186</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Season_For_Tv_Serie</targetReference>
        </connector>
        <fields>
            <name>Nuber_of_Season_Exist_Screen</name>
            <fieldText>&lt;p&gt;This &lt;b&gt;Number&lt;/b&gt;: &lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!Season_Number} &lt;/b&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;for &lt;/span&gt;&lt;b style=&quot;color: rgb(0, 0, 0);&quot;&gt;Tv Serie: &lt;/b&gt;&lt;b&gt;{!Get_Tv_Serie_Record_By_Id.Name}&lt;/b&gt; is already &lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Exist&lt;/span&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Season_For_Tv_Serie</name>
        <label>Create New Season For Tv Serie</label>
        <locationX>708</locationX>
        <locationY>345</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Season_With_Tv_Serie_And_Number</targetReference>
        </connector>
        <fields>
            <name>Tv_Serie_Id</name>
            <fieldText>&lt;p&gt;You create Season for &lt;b&gt;Tv Serie&lt;/b&gt;: &lt;b style=&quot;color: rgb(0, 85, 255);&quot;&gt;{!Get_Tv_Serie_Record_By_Id.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Season_Number</name>
            <dataType>Number</dataType>
            <fieldText>Season Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Number must be between 1 and 1000.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>AND(({!Season_Number}&gt;0),
({!Season_Number}&lt;1001))</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Fault_Message</name>
        <label>Display_Fault_Message</label>
        <locationX>181</locationX>
        <locationY>164</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Fault_Season_Creation_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Season_Created</name>
        <label>Season Created</label>
        <locationX>186</locationX>
        <locationY>536</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Record_Created_Message</name>
            <fieldText>&lt;p&gt;Your &lt;b&gt;Season&lt;/b&gt; for &lt;b&gt;Tv Serie&lt;/b&gt; named: &lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(21, 0, 255);&quot;&gt;{!Get_Tv_Serie_Record_By_Id.Name}&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; &lt;/span&gt;with number: &lt;b style=&quot;color: rgb(21, 0, 255);&quot;&gt;{!Season_Number}&lt;/b&gt; has beed created &lt;span style=&quot;color: rgb(14, 189, 1);&quot;&gt;successfully&lt;/span&gt;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>329</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Tv_Serie_Record_By_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
